QWidget {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

QPushButton {
    width: 200px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
}

QLabel {
    font-size: 24px;
    font-weight: bold;
    color: rgb(50, 50, 50);
}